---
import Layout from '../layouts/Layout.astro';
---

<Layout title=''>
  <main style=' padding-left: 2em;'>
    <p>Let's figure some stuff out!</p>
    <p>
      Coming soon! A multi-media knowledgebase on computing, language, society,
      semiotics, and probably some silliness
    </p>
    <p>
      This website will serve as a companian to video projects on YouTube,
      Twitch, etc. as well as hosting original writing and related software
    </p>

    <p>It may also host mirrors of the videos and community discussions</p>

    <p>In the mean time you can follow the project:</p>
    <ul>
      <li>
        🐦 on Twitter&nbsp; @ <a href='https://twitter.com/dbgmode'
          ><code>https://twitter.com/dbgmode</code>
        </a>
      </li>
      <li>
        🥚 on cohost! @ <a href='https://cohost.org/dbgmode'
          ><code>https://cohost.org/dbgmode</code>
        </a>

        <li>
          ▶️ on YouTube @ <a href='https://youtube.com/@dbgmode'
            ><code>https://youtube.com/@dbgmode</code>
          </a>
        </li>
        <li>
          🐙 on GitHub&nbsp;&nbsp; @ <a href='https://github.com/dbgmode'
            ><code>https://github.com/dbgmode</code>
          </a>
        </li>
      </li>
    </ul>
  </main>
</Layout>
