:root {
  /** One background square */
  --bgsq: 1.5rem;
  /** One background line */
  --bgl: calc(var(--bgsq) / 32);

  --logo-width: 2--bgsq;
  --logomark-rem: 2.25;
  --logomark-ex: calc(var(--logomark-rem) * 1ex);
}
